img {
    width: 650px;
}

h1 {
    color: red;
}

#desktop-section {
    display: none;
}

/* Small (sm) */
@media (min-width: 640px) {
    #desktop-section {
        display: block;
    }
    #mobile-section {
        display: none;
    }

}

/* Medium */
@media (min-width: 768px) {
    h1 {
        color: green;
    }
}

/* Large */
@media (min-width: 1024px) {
    h1 {
        color: green;
    }
}


/*Extra Large XL */
@media (min-width: 1280px) {

}

/* EXTRA Extra Large - XXL */
@media (min-width: 1536px) {

}

